<p>Aqui estan los lenguajes</p>



<td><img src="assets/aa.png"></td>

<td><img src="assets/angular.png"></td>

<td><img src="assets/descarga.png"></td>

<td><img src="assets/descarga2.png"></td>

<td><img src="assets/descarga3.png"></td>

<td><img src="assets/images.jpeg"></td>

<td><img src="assets/tareaaaa.png"></td>



<tr>
<td><img src="assets/aa.png"></td>
<td>JavaScript es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos, ​ basado en prototipos, imperativo, débilmente tipado y dinámico.</td>
</tr>
<tr>
<td><img src="assets/TypeScrip.png"></td>
<td>TypeScrip lenguaje de programación libre y de código abierto desarrollado y mantenido por Microsoft. Es un superconjunto de JavaScript, que esencialmente añade tipos estáticos y objetos basados en clases.</td>
</tr>
<tr>
<td><img src="assets/c++.png"></td>
<td>C++ es un lenguaje de programación diseñado en 1979 por Bjarne Stroustrup. La intención de su creación fue extender al lenguaje de programación C mecanismos</td>
</tr>
<tr>

